APP_NAME="Talent Forge"
APP_ENV=production
APP_KEY=base64:4fgtTpt9mRpcbGsjZQth4IMBzBEox3VLcW+Akq1Rvv0=
APP_DEBUG=true
APP_URL=http://192.168.1.102:8000
ALLOWED_ORIGINS=http://localhost:8000,http://192.168.1.102:8000,http://0.0.0.0

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_DOMAIN=192.168.1.102
SANCTUM_STATEFUL_DOMAINS=localhost:8000,192.168.1.102:8000


BROADCAST_CONNECTION=pusher
BROADCAST_DRIVER=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
PUSHER_APP_ID=1988078
PUSHER_APP_KEY=9f9ed43b62dd04cc2c67
PUSHER_APP_SECRET=7a97d2881dff37b96ec6
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME="https"
PUSHER_APP_CLUSTER="eu"

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"



CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=resend
# MAIL_SCHEME=null
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@integrate-ai.com"
MAIL_FROM_NAME="${APP_NAME}"

RESEND_API_KEY=re_eS1AobV6_EiKeUZzLWGy3GxiuQrgMLpXh

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VITE_PORT=5173


